<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie App</title>
  </head>
  <body>
   <header>
    <h1>Movies Show Page</h1>
     <ul>
      <li>
        <a href="/movies">Home Page</a>
      </li>
      <li>
        <a href="/users">Log In Page</a>
      </li>
     </ul>
   </header>
   <section>
    <h2>Movie Info</h2>
    <p>title:
    <b><%=movie.title%></b></p>
    <p>director:
    <b><%=movie.director%></b></p>
    <p>description:
    <b><%=movie.description%></b></p>
    <img src="<%=movie.img%>"/>
    <p>stars:
    <b><%=movie.stars%></b></p>
  </section>
  <section>
   <h2>Delete Movie</h2>
    <ul>
     <li>
      <form action="/movies/<%=movie.id%>?_method=DELETE" method="POST">
       <button>DELETE</button>
      </form>
     </li>
    </ul>
 <h2>Edit Movie</h2>
  <ul>
    <li>
     <button>
      <a href="/movies/<%=movie._id%>/edit">Edit</a>
     </button>
    </li>
  </ul>
</section>
  </body>
</html>
